###################################################

 dotfiles

###################################################

/*
/.*

!/.bashrc
!/.vimrc
!/.git-*
!/.gitignore
!/.gitconfig
!/.ctags

# for CakePHP
app/tmp/empty

# for vim
*.swp
Session.vim

# ctags
ctags
