###################################################

 dotfiles

###################################################

/*
/.*

!/.bashrc
!/.vimrc
!/.git-*
!/.gitignore
!/.gitconfig

# for CakePHP
app/tmp/empty

